<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<base href="/" />

	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.css"/>
	<link rel="stylesheet" href="_content/Blazor.Bootstrap/blazor.bootstrap.css" />

	

	<link rel="stylesheet" href="app.css" />
	<link rel="stylesheet" href="Infokom.Inquisitio.Apps.Web.Dashboard.styles.css" />
	<link rel="icon" type="image/png" href="favicon.png" />
	<HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
	<Routes @rendermode="InteractiveServer" />





	<script type="text/javascript" src="_framework/blazor.web.js"></script>
	<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.bundle.js"></script>
	<script type="text/javascript" src="/lib/chart.js/chart.umd.js"></script>
	<script type="text/javascript" src="/lib/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js" ></script>
	<script type="text/javascript" src="/lib/sortablejs/sortable.js"></script>
	<script type="text/javascript" src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>
</body>

</html>
